/* Add CSS Styling */

.odd-number 
{
    background-color: magenta;
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#first-id 
{
    color: blue;
    font-size: 36px;
}

.odd-number.third 
{
    font-size: 24px;
}

#second-id
{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}